<!-- @format -->

{% extends 'dashboard/base.html' %} {% load static %} {% block content %}

<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Event List</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div id="" class="">
                  <div class="row">
                    <div class="col-sm-12">
                      <table class="table table-striped no-footer" id="" role="grid" aria-describedby="table-1_info">
                        <thead>
                          <tr role="row">
                            <th>
                              Event Name
                            </th>
                            <th>
                              Venue
                            </th>

                            <th>
                              Date
                            </th>
 
                            <th>
                              Time
                            </th>

                            <th>
                              Duration
                            </th>

                            <th>
                              End Time
                            </th>
                            
                            <th>
                              Reg Deadline
                            </th>

                            <th>
                              Reg Fee
                            </th>

                            <th class="sorting" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1"
                              aria-label="Action" style="width: 75px">
                              Action
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in page_obj %}
                          <tr role="row" class="odd">
                            <!-- <td class="sorting_1"></td> -->
                            <td>{{ item.event_name }}</td>
                            <td>{{ item.venue }}</td>
                            <td>{{ item.date }}</td>
                            <td>{{ item.time }}</td>
                            <td>{{ item.duration }}</td>
                            <td>{{ item.end_time }}</td>
                            <td>{{ item.reg_end_time}}</td>
                            <td>{{ item.reg_fee }}</td>

                            <td>
                              <a href="{% url 'event:view_event' pk=item.pk %}" class="btn btn-primary">View</a>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="dataTables_paginate paging_simple_numbers" id="table-1_paginate">
                        <ul class="pagination justify-content-center">
                          {% if page_obj.has_previous %}
                          <li class="paginate_button page-item previous" id="table-1_previous">
                            <a href="?page=1" aria-controls="table-1" data-dt-idx="0" tabindex="0"
                              class="page-link">&laquo; First</a>
                          </li>
                          <li class="paginate_button page-item">
                            <a href="?page={{ page_obj.previous_page_number }}" aria-controls="table-1" data-dt-idx="2"
                              tabindex="0" class="page-link">{{ page_obj.previous_page_number }}</a>
                          </li>

                          {% endif %}

                          <li class="paginate_button page-item active">
                            <a href="#" aria-controls="table-1" data-dt-idx="1" tabindex="0" class="page-link">{{ page_obj.number }}</a>
                          </li>

                          {% if page_obj.has_next %}
                          <li class="paginate_button page-item">
                            <a href="?page={{ page_obj.next_page_number }}" aria-controls="table-1" data-dt-idx="2"
                              tabindex="0" class="page-link">{{ page_obj.next_page_number }}</a>
                          </li>

                          <li class="paginate_button page-item next" id="table-1_next">
                            <a href="?page={{ page_obj.paginator.num_pages }}" aria-controls="table-1" data-dt-idx="3"
                              tabindex="0" class="page-link">Last &raquo;</a>
                          </li>

                          {% endif %}
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                      <div class="dataTables_info text-center" id="table-1_info" role="status" aria-live="polite">
                        Page {{ page_obj.number }} of
                        {{page_obj.paginator.num_pages }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}{% block scripts %}
  {{ investor_auto_form.media }}
  {% endblock %}
  <script>

  </script>
</div>